.header {
  background-color: var(--accent-color);
}

.header__nav {
  padding: 5px;
}

.header__title,
.header__logo {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.header__menu {
  display: flex;
  flex-direction: column;

  .menu__item {
    color: var(--text-color);
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__menu {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
}

.header__banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/baby-yoda.svg);
  min-height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__title {
    color: var(--accent-color);
}
